<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.app.model.GenieMusicDAO">

    <select id="musicList" resultType="GenieMusicDTO">
	    select title, singer, poster 
		from genie_music
		order by rank asc
	</select>
    
</mapper>









