yamlname: Deploy to Ubuntu Server
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: '17'

    - name: Set gradlew permissions
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

    - name: Add known_hosts
      run: ssh-keyscan -H 13.48.148.193 >> ~/.ssh/known_hosts

    - name: Deploy to Server with rsync
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" build/libs/*.jar ubuntu@13.48.148.193:~/app

    - name: Run SSH commands
      run: |
        ssh ubuntu@13.48.148.193 << 'EOF'
          pkill -f 'java -jar' || true
          nohup java -jar ~/app/jenkins-0.0.1-SNAPSHOT.jar > log.txt 2>&1 &
        EOF
